<div id="blockchainInterface">

<div id="ethereumNodes">

	<select id="nodes">
		{{#each containers}}
			<option class="node" 
				value="{{Names}}"
				data-id="{{Id}}">{{Names}}
			</option>
		{{/each}}
	</select>

</div>

<div id="apis" class="margin-10-0">
	{{#each apis}}
		<div class="api section" id="{{command}}">
			<div class="apiTextContainer text-section">
				<h3> Description </h3>
				<p>{{description}} </p>
			</div>
			<div class="apiActionContainer action-section">
				<input class="apiBtn" type="button" value="{{name}}" data-command="{{command}}"/>
				{{#each parameters}}
					<{{el}} class="apiParams" placeholder="{{name}}" required="{{required}}"/>
				{{/each}}
			</div>
			<div class="apiOutputContainer text-section">
				<h3> Output </h3>
			</div>
		</div>
	{{/each}}
</div>

</div>
<script type="text/javascript" src="/js/index.js"></script>
